<!DOCTYPE html>
<html>
<head>
  <title>Three Course Cookbook</title>
</head>
<body>

  <nav>
    <ul>
      <li> <%= link_to('Starters', starters_path) %> </li>
      <li> <%= link_to('Mains', mains_path) %> </li>
      <li> <%= link_to('Desserts' desserts_path) %> </li>
    </ul>
  </nav>




</body>
</html>